@CHARSET "UTF-8";
*{margin:0;
	padding:0px;
	}
img{border:0;}


body {width:100%;
		height:100%;
		float:left;
		background:url(/images/book/headerbg.gif) repeat-x;
		}

/*astart-lltext-class*/
.welcome{font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#000000;
		font-weight:bold;
		text-align:center;
		}
.prowelcome{font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#1b58a8;
		font-weight:bold;
		}
.myshopcart{font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#1b58a8;
		font-weight:bold;
		}
/*start-userprofile-page*/
#profile-welcome{width:85px;
		height:auto;
		line-height:16px;
		float:left;
		margin:5px;
		}
#profile-top{width:300px;
		height:auto;
		line-height:14px;
		float:left;
		margin-top:5px;
		}
#protoprght{width:470px;
		height:auto;
		line-height:16px;
		float:right;
		margin:5px;
		}
#profiletoprghtlft{width:450px;
		height:20px;
		float:left;
		}	
#protopmenu {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#protopmenu li {
	float: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	margin: 0;
	padding: 0;
}
#protopmenu a {
	background:url(/images/book/prosepa.gif) bottom right no-repeat;
	color:#1b58a8;
	display: block;
	float: right;
	margin: 0;
	padding: 2px 15px;
	text-decoration: none;
}
#protopmenu a:hover {
	background:url(/images/book/prosepa.gif) bottom right no-repeat;
	color: #1b58a8;
	padding-bottom:2px;
	text-decoration:underline;
	}
#probtn-lft{width:1000px;
			height:30px;
			float:left;
			margin-top:10px;
			}

/*start-header*/
#top{width:1000px;
		height:auto;
		min-height:25px;
		margin:auto;
		}
#toplft{width:70px;
		height:auto;
		line-height:16px;
		float:left;
		margin:5px;
		}
#toplft-menu{width:300px;
		height:auto;
		line-height:14px;
		float:left;
		margin:3px;
		}

#toplftmenu {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#toplftmenu li {
	float: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	margin: 0;
	padding: 0;
}
#toplftmenu a {
	background:url(/images/book/topseprator.gif) bottom right no-repeat;
	color: #1b58a8;
	display: block;
	float: left;
	margin: 0;
	padding: 4px 15px;
	text-decoration: none;
}
#toplftmenu a:hover {
	background:url(/images/book/topseprator.gif) bottom right no-repeat;
	color: #0b3770;
	padding-bottom:4px;
	text-decoration:underline;
	}
	
	
	
	
#toprght{width:400px;
		height:auto;
		line-height:16px;
		float:right;
		margin:5px;
		}
#toprghtlft{width:20px;
		height:20px;
		float:left;
		}
#toprghtlfttxt{width:110px;
		height:15px;
		float:left;
		margin-left:5px;
		margin-top:3px;
		}
#toprghtlfttxt2{width:150px;
		height:15px;
		float:left;
		margin-left:5px;
		margin-top:3px;
		}
#toprghtbtn{width:90px;
		height:20px;
		float:left;
		margin-left:10px;
		}
			
#logo-main{width:1000px;
			height:auto;
			min-height:100px;
			margin:auto;
			margin-top:5px;
			}
#logo{width:300px;
			height:auto;
			min-height:65px;
			float:left;
			margin-top:15px;
			}

/*close-header*/

		
/*start-header*/
#btn-main{width:100%px;
			height:50px;
			margin:auto;
			background:url(/images/book/btnback.gif) repeat-x;
			border-top:solid #003399 2px;
			border-bottom:solid #003399 1px;
			}
#btn-parent{width:1000px;
			height:50px;
			margin:auto;
			}
#btn-lft{width:580px;
			height:30px;
			float:left;
			margin-top:10px;
			}
#btnmenu {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 200%;
}
#btnmenu li {
	float: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	margin: 0;
	padding: 0;
}
#btnmenu a {
	background:url(/images/book/seperator.gif) bottom right no-repeat;
	color:#FFFFFF;
	display: block;
	float: left;
	margin: 0;
	padding: 5px 20px;
	text-decoration: none;
}
#btnmenu a:hover {
	background:url(/images/book/seperator.gif) bottom right no-repeat;
	color: #ededed;
	padding-bottom:5px;
	text-decoration:underline;
	}
#btn-rght{width:360px;
			height:28px;
			float:left;
			margin-top:10px;
			background:#6fa3e9;
			margin-left:50px;
			border:solid #6ea8f6 1px;
			}
#btn-lfttxt{width:230px;
			height:auto;
			line-height:16px;
			float:left;
			margin-top:5px;
			}
#btn-rghttxt{width:100px;
			height:auto;
			line-height:16px;
			float:left;
			margin-top:5px;
			margin-right:5px;
			}
/*close-header*/

/*start-footer*/
#footer{width:100%;
		height:auto;
		min-height:35px;
		margin:auto;
		background:url(/images/book/btnback.gif) repeat-x;
		}
#footer-inner{width:1000px;
		height:auto;
		min-height:35px;
		margin:auto;
		}
#footer-lft{width:450px;
		height:auto;
		color:#cccccc;
		min-height:20px;
		float:left;
		margin-top:10px;
		}
#footer-rght{width:280px;
		height:auto;
		color:#cccccc;
		font-weight:bold;
		min-height:20px;
		float:right;
		margin-top:10px;
		}
/*Close-footer*/

fieldset{
  border:#c1c6c9 solid 1px;
  padding:0px 15px 15px 18px;
  margin:30px 0 0 0 !important;
  text-align:left;
  width:100%;
  height:auto;
  
}
legend {
  background: url(/images/headerBg.jpg) #fff 1px 1px no-repeat;
  border:#c1c6c9 solid 1px;
  border-bottom:none;
  font-size:1.6em;
  color:#000;
  padding: 13px 15px 12px 45px;
  /*padding: 13px 15px 15px 45px;*/
  text-align:left;
}
legend span{
  font-size:12px !important;
}

.languages {
	font-weight: bold !important;
	color: #1B729C;
	font-size: 16px;
}

.loginFix{
  width:520px;
  padding-bottom:22px;
}

.changepassFix{
  text-align:center;	
  width:600px;
  padding-bottom:22px;
}

#cnt-main{
	width:1300px;
	height:auto;
	min-height:430px;
	margin:auto;
}

div#breadcrumb{
	width:100%px;
	height:25px;
	margin:auto;
	background-color:#Dfecf5
	border-top:solid #003399 2px;
	border-bottom:solid #003399 1px;
}

div#breadcrumb a {
    color: #00003D;    
}

div#breadcrumb a {
    margin-right: 5px;
    padding: 0 18px 0 0;
    text-shadow: none;
}
div#breadcrumb-inner
{
	text-align:left;
	margin-left:150px;	
}

a {
	color: #00003D;
	text-decoration: none;
	font-family: Tahoma; 
	font-size: 14px;
	font-weight: bold; 
    cursor: pointer;
}	
a:hover {
	color:#6d7b8d;
    text-decoration:none;
    font-family:Tahoma;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
}
 #error{
    font-family:vardana;
    font-size:10pt;
    color:red;
}
.tblbg {
	background:url(/images/book/btnback.gif) repeat;
	<!--background-color:  #6D7B8D-->
}
.addedittable
{	
	margin-top:30px;
	border:blue 1px solid;
		
}
.maintable
{
	width:1350px;
	margin:0px;	
}
.tblheader { 
    font-family: Arial, Helvetica, sans-serif;
    height:25px;
    font-size:12px;
    font-weight: bold;
    color:#ffffff;
    background:url(/images/book/btnback.gif) repeat;
    padding:0px 0px 0px 0px;
    vertical-align:middle;
}
.tblrow {
	font-family: Arial, Helvetica, sans-serif;
    vertical-align:middle;
    font-size: 13px;
    padding:5px 5px 5px 5px;
    color: #000000;
    font-weight: normal;
    background-color:#FFFFFF;
}
.but{ 
    background-color:#6D7B8D;
    padding:2px 5px 3px 5px;
    font-family:Tahoma;
    font-size:11px;
    text-decoration:none;
    color:#FFFFFF;
    font-weight:bold;
    cursor:pointer;
    border:1px solid #A4374C;
}
.but:hover{ 
	color:#fff;
}
#tblrow2 {
     font-family: Arial, Helvetica, sans-serif;
     vertical-align:middle;
     font-size: 13px;
     padding:5px 5px 5px 5px;
     color: #cd435d;
     font-weight: normal;
     background-color:#FFFFFF;
}

.listparent
{
	width:"100%";
	border-top: 1px solid; 
	border-right: 1px solid ; 
	border-left: 1px solid;
}
.listchild
{
	border: 0px solid;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	text-align: left;
	width:80%; 
	border-bottom: 1px solid;
	float:left;  
}
.listCatAction
{
	border: 0px solid; 
	padding-left:10px;
	padding-top:10px;
	padding-bottom:8px;
	width:18%; 
	border-bottom: 1px solid;
	float:left; 
}	
.checkbox{
	clear: both; 
	float: left; 
	border:0px solid; 
	width:40px;
}

.addcategory {
	text-align: right;
	padding-right: 10px;	
}


